
#boxes {
    display: flex;
    clear: both;
    flex-direction: row;
}

.textarea {
    width: 80%;
    height: 100px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
    display: flex;
    padding-bottom: 70px;
}

.input {
    float: left;
    flex-direction: row;
}



.message {
    position: relative;
    margin-left: 20px;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #A8DDFD;
    width: 200px;
    height: 50px;
    text-align: left;
    font: 400 .9em 'Open Sans', sans-serif;
    border: 1px solid #97C6E3;
    border-radius: 10px;
    float: left;
}

.chat {
    padding: 10;
    margin: 10;
}

.message-content {
    padding: 0;
    margin: 0;
    font-weight: 500;
}

.message-timestamp {
    position: absolute;
    font-size: .85em;
    font-weight: 300;
    bottom: 5px;
    right: 5px;
}


mat-icon-button {
    margin-right: 0px;
}

@media screen and (min-width: 800px) {
    textarea {
        max-width: 100%;
    }

}

.example-viewport {
    height: 400px;
    width: 100%;
    border: 1px solid black;
}
