<app-appbar></app-appbar>
<mat-card class="example-card">
  <mat-card-header>
    <img mat-card-avatar src="{{currentUser.picture}}">
    <mat-card-title>{{currentUser.firstname}}</mat-card-title>
    <mat-card-subtitle>{{currentUser.lastname}}</mat-card-subtitle>
    <button (click)="logOut()">Log out</button>
  </mat-card-header>

  <mat-card-content>
    <p>{{currentUser.email}}</p>
  </mat-card-content>

  <mat-card-actions>
    <!-- qrcode generator -->
    <qrcode [qrdata]="currentUser.id" [width]="64" [errorCorrectionLevel]="'M'" [allowEmptyString]="true"></qrcode>

    <div class="container">
      <!-- ngx-scanner-qrcode -->
      <ngx-scanner-qrcode #action="scanner" [config]="config" (error)="onError($event)"></ngx-scanner-qrcode>

      <!-- data  -->
      <p class="data">{{ action.data | async }}</p>

      <!-- Loading -->
      <p *ngIf="action.isLoading">⌛ Loading...</p>

      <!-- toggleCamera -->
      <button class="btn" [class.btn-info]="!action.isStart" [class.btn-warning]="action.isStart" [disabled]="action.isLoading">
        <img *ngIf="!action.isStart" (click)="handle(action, 'start')" src="https://img.icons8.com/ios/50/000000/no-camera--v2.png" width="30px"/>
        <img *ngIf="action.isStart" (click)="handle(action, 'stop')" src="https://img.icons8.com/ios/50/000000/no-camera--v1.png" width="30px"/>
      </button>
    </div>
  </mat-card-actions>

</mat-card>

<div class="post-container" *ngFor="let p of ownPosts">
  <mat-card class="home-post-card">
    <mat-card-header>
        <div mat-card-avatar class="user-avatar"></div>
        <mat-card-title>{{p.title}}</mat-card-title>
        <mat-card-subtitle>{{p.description}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="{{p.picture}}"
        alt="Photo of a Shiba Inu">
    <mat-card-content>
        <p>{{p.date.toDate().toLocaleString()}}</p>
    </mat-card-content>
    <!-- <mat-card-actions>
        <button mat-icon-button>
            <mat-icon>favorite</mat-icon>
        </button>
        <span>20</span>
        <button mat-icon-button>
            <mat-icon>comment</mat-icon>
        </button>
        <button mat-icon-button>
            <mat-icon>share</mat-icon>
        </button>
    </mat-card-actions> -->
</mat-card>
</div>

<app-navbar></app-navbar>
<cdk-virtual-scroll-viewport appendOnly itemSize="50" class="profile-page-viewport">

    <mat-card *ngIf="currentUser as user" class="user-info-card">
        <mat-card-content>
            <mat-grid-list cols="4" rowHeight="50px">
                <mat-grid-tile colspan="1" rowspan="1" [style.background]="''">
                    <img [src]="user.picture" [alt]="user.firstname" class="avatar">
                </mat-grid-tile>

                <mat-grid-tile colspan="3" rowspan="2" [style.background]="''">
                    <mat-card class="stat-card">
                        <mat-card-header>
                            <mat-card-title *ngIf="currentUserPosts$|async as posts">{{ posts.length }}</mat-card-title>
                            <mat-card-subtitle>Publications</mat-card-subtitle>
                        </mat-card-header>
                    </mat-card>
                    <mat-card class="stat-card">
                        <mat-card-header>
                            <mat-card-title>{{ friendsCount }}</mat-card-title>
                            <mat-card-subtitle>Amis</mat-card-subtitle>
                        </mat-card-header>
                    </mat-card>
                </mat-grid-tile>

                <mat-grid-tile colspan="1" rowspan="1" [style.background]="''">{{ user.firstname }}
                </mat-grid-tile>
            </mat-grid-list>
        </mat-card-content>
    </mat-card>

    <mat-card class="menu-card">
        <mat-list>
            <a type="button" (click)="onPersonalInformation()">
                <mat-list-item>Informations Personnelles</mat-list-item>
            </a>
            <mat-divider></mat-divider>
            <a type="button" (click)="onInvitFriends()">
                <mat-list-item>Inviter Des Amis</mat-list-item>
            </a>

        </mat-list>
    </mat-card>

    <mat-card class="post-card">
        <mat-grid-list cols="3" rowHeight="150px">
            <mat-grid-tile *ngFor="let post of currentUserPosts$|async">
                <img [src]="post.imageUrl" [alt]="post.title">
            </mat-grid-tile>
        </mat-grid-list>
    </mat-card>

</cdk-virtual-scroll-viewport>

<div class="utility-spacer"></div>

<app-navbar></app-navbar>
