<mat-card class="example-card">
  <mat-card-header>
    <img mat-card-avatar src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
    <mat-card-title>Firstname  Name</mat-card-title>
    <mat-card-subtitle>Software engineer</mat-card-subtitle>
    <button (click)="logOut()">Log out</button>
  </mat-card-header>

  <mat-card-content>
    <p>email@adress.com</p>
    <p>Av. de la rue, 123 <br> 31770 Colomiers</p>
    <p>07 69 89 99 53</p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>QR Code</button>
  </mat-card-actions>
</mat-card>
<app-navbar></app-navbar>
