<mat-card class="example-card" *ngIf="!displaySpinner">
    <mat-card-content>
        <form fxLayout="column" fxLayoutGap="20px" [formGroup]="loginForm" class="login-form" *ngIf="isLoginState()">
            <mat-card-header>
                <mat-card-title>InstApp - Connexion</mat-card-title>
            </mat-card-header>
            <mat-divider></mat-divider>
            <div fxLayout="column" fxLayoutGap="10px">
                <mat-form-field class="login-email-form-field" appearance="fill">
                    <mat-label>E-mail</mat-label>
                    <input matInput placeholder="pat@example.com" formControlName="loginEmail" required>
                    <mat-error *ngIf="this.loginForm.controls['loginEmail'].invalid">{{getLoginEmailErrorMessage()}}
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="login-password-form-field" appearance="fill">
                    <mat-label>Mot de passe</mat-label>
                    <input matInput type="password" formControlName="loginPassword" minlength="8" required>
                    <mat-error *ngIf="this.loginForm.controls['loginPassword'].invalid">
                        {{getLoginPasswordErrorMessage()}}</mat-error>
                </mat-form-field>

                <button (click)="onLogin()" [disabled]="loginForm.invalid" type="submit" mat-raised-button
                    color="primary">Se connecter</button>
            </div>
        </form>

        <form fxLayout="column" fxLayoutGap="20px" [formGroup]="signupForm" class="signup-form" (ngSubmit)="onSignup()"
            *ngIf="isSignupState()">
            <mat-card-header>
                <mat-card-title>InstApp - Inscription</mat-card-title>
            </mat-card-header>
            <mat-divider></mat-divider>
            <div fxLayout="column">
                <mat-form-field class="signup-email-form-field" appearance="fill">
                    <mat-label>E-mail</mat-label>
                    <input matInput placeholder="pat@example.com" formControlName="signupEmail" required>
                    <mat-error *ngIf="this.signupForm.controls['signupEmail'].invalid">{{getSignupEmailErrorMessage()}}
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="signup-fullname-form-field" appearance="fill">
                    <mat-label>Nom complet</mat-label>
                    <input matInput placeholder="Kevin Systrom" formControlName="signupFullname" minlength="4" required>
                    <mat-error *ngIf="this.signupForm.controls['signupFullname'].invalid">
                        {{getSignupFullnameErrorMessage()}}</mat-error>
                </mat-form-field>

                <mat-form-field class="signup-username-form-field" appearance="fill">
                    <mat-label>Nom d’utilisateur</mat-label>
                    <input matInput placeholder="ksystrom" formControlName="signupUsername" minlength="2" required>
                    <mat-error *ngIf="this.signupForm.controls['signupUsername'].invalid">
                        {{getSignupUsernameErrorMessage()}}</mat-error>
                </mat-form-field>

                <mat-form-field class="signup-password-form-field" appearance="fill">
                    <mat-label>Mot de passe</mat-label>
                    <input matInput type="password" formControlName="signupPassword" minlength="8" required>
                    <mat-error *ngIf="this.signupForm.controls['signupPassword'].invalid">
                        {{getSignupPasswordErrorMessage()}}</mat-error>
                </mat-form-field>

                <button [disabled]="signupForm.invalid" mat-raised-button color="primary">S’inscrire</button>
            </div>
        </form>

        <form fxLayout="column" fxLayoutGap="20px" [formGroup]="resetForm" class="reset-form"
            *ngIf="isForgotPasswordState()">
            <mat-card-header>
                <mat-card-title>InstApp - Récupération de mot de passe</mat-card-title>
            </mat-card-header>
            <mat-divider></mat-divider>
            <div fxLayout="column">
                <mat-form-field class="reset-email-form-field" appearance="fill">
                    <mat-label>E-mail</mat-label>
                    <input matInput placeholder="pat@example.com" formControlName="resetEmail" required>
                    <mat-error *ngIf="this.resetForm.controls['resetEmail'].invalid">{{getResetEmailErrorMessage()}}
                    </mat-error>
                </mat-form-field>

                <button (click)="onResetPassword()" [disabled]="resetForm.invalid" mat-raised-button
                    color="primary">Reinitialiser</button>
            </div>
        </form>
    </mat-card-content>
    <mat-card-actions align="end">
        <button (click)="onForgotPasswordClick()" mat-button color="warn">Mot de passe oublié?</button>
        <button (click)="onCreateAccountClick()" mat-button color="">Inscription</button>
        <button (click)="onLoginClick()" mat-button color="primary">Connexion</button>
    </mat-card-actions>
</mat-card>
<mat-spinner *ngIf="displaySpinner" class="spinner"></mat-spinner>