<router-outlet></router-outlet>
<cdk-virtual-scroll-viewport appendOnly itemSize="50" class="home-page-viewport">
    <app-appbar></app-appbar>

    <p>
        <mat-toolbar>
            <span>Actualités</span>
        </mat-toolbar>
    </p>

    <div class="post-container" *ngFor="let p of posts">
      <mat-card class="home-post-card">
        <mat-card-header>
            <div mat-card-avatar class="user-avatar"></div>
            <mat-card-title>{{p.title}}</mat-card-title>
            <mat-card-subtitle>{{p.description}}</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="{{p.picture}}"
            alt="Photo of a Shiba Inu">
        <mat-card-content>
            <p>{{p.date.toDate().toLocaleString()}}</p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-icon-button>
                <mat-icon>favorite</mat-icon>
            </button>
            <span>20</span>
            <button mat-icon-button>
                <mat-icon>comment</mat-icon>
            </button>
            <button mat-icon-button>
                <mat-icon>share</mat-icon>
            </button>
        </mat-card-actions>
    </mat-card>
    </div>

</cdk-virtual-scroll-viewport>

<div class="utility-spacer"></div>

<app-navbar></app-navbar>
