<div class="post-container" *ngFor="let notif of notifsTab">
  <mat-card class="example-card">
    <mat-card-title>{{notif}}</mat-card-title>
    <!-- <mat-card-subtitle>{{user.lastname}}</mat-card-subtitle> -->
    <!-- <button *ngIf="notif.refType == 'friends' && notif.status < 3" (click)="accept(notif)">Accepter</button>
    <button *ngIf="notif.refType == 'friends' && notif.status < 3" (click)="refuse(notif)">Refuser</button> -->
    <!-- <button *ngIf="notif.status < 3" (click)="deleteNotif(notif)">Ok</button> -->
  </mat-card>
  </div>


  <app-navbar></app-navbar>
