<mat-card class="home-post-card">
    <mat-card-header>
        <div mat-card-avatar class="user-avatar"></div>
        <mat-card-title *ngIf="user$ |async as postOwner">{{ postOwner.fullname }}</mat-card-title>
        <mat-card-subtitle>Mis en ligne le {{ post.createAt!.toDate() | date:'dd/MM/yyyy à HH:mm' }}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image [src]="post.imageUrl" [alt]="post.title">
    <mat-card-content>
        <p>{{ post.title }}</p>
    </mat-card-content>
    <mat-card-actions>
        <button [color]="color" mat-icon-button (click)="onLike(post.id)">
            <mat-icon *ngIf="!isLiked">favorite_border</mat-icon>
            <mat-icon *ngIf="isLiked">favorite</mat-icon>
        </button>
        <span>{{ post.likeCount }}</span>
        <button mat-icon-button (click)="openCommentDialog()">
            <mat-icon>chat_bubble_outline</mat-icon>
        </button>
        <button mat-icon-button>
            <mat-icon>share</mat-icon>
        </button>
    </mat-card-actions>
</mat-card>