<form class="search-form">
  <mat-form-field appearance="outline" class="search-field">
      <input matInput  class="search" type="text" name="search" placeholder="Rechercher" (change)="search()" [(ngModel)]="searchElem"/>
      <mat-icon matSuffix>search</mat-icon>

  </mat-form-field>
</form>
<p [style]="{margin:'5%'}" *ngIf="users.length == 0">Veuillez entrer l'adressse mail de la personne que vous recherchez</p>

<mat-card-actions>
  <div class="container">
    <button class="btn" [class.btn-info]="!action.isStart" [class.btn-warning]="action.isStart" [disabled]="action.isLoading">
      <img *ngIf="!action.isStart" (click)="handle(action, 'start')" src="https://img.icons8.com/ios/50/000000/no-camera--v2.png" width="30px"/>
      <img *ngIf="action.isStart" (click)="handle(action, 'stop')" src="https://img.icons8.com/ios/50/000000/no-camera--v1.png" width="30px"/>
    </button>
    <ng-container >
      <ngx-scanner-qrcode #action="scanner" [config]="config" (error)="onError($event)" (event)="searchById(action, 'stop', action.data.value)"></ngx-scanner-qrcode>
    </ng-container>
  </div>
</mat-card-actions>

<div class="post-container" *ngFor="let user of users">
<mat-card class="example-card">
  <img mat-card-avatar src="{{user.picture}}">
  <mat-card-title>{{user.firstname}}</mat-card-title>
  <mat-card-subtitle>{{user.lastname}}</mat-card-subtitle>
  <button *ngIf="!isSubbed" (click)="sub(user.id)">Suivre</button>
  <small *ngIf="isSubbed">Vous suivez déjà</small>
</mat-card>
</div>


<app-navbar></app-navbar>
