<form class="search-form">
  <mat-form-field [formGroup]="searchForm" appearance="outline" class="search-field">
      <input matInput  class="search" type="text" formControlName="search" name="search" placeholder="Rechercher" [matAutocomplete]="users" (change)="search()" [(ngModel)]="searchElem"/>
      <mat-icon matSuffix>search</mat-icon>

  </mat-form-field>
    <mat-autocomplete #users="matAutocomplete">
        <mat-option *ngFor="let user of users$|async" [value]="user" (click)="goToUserProfile(user)">{{ user.username }}
        </mat-option>
    </mat-autocomplete>
</form>

<app-navbar></app-navbar>
