<mat-nav-list>
    <form class="snap-form" [formGroup]="photoTakenForm" (ngSubmit)="onSaveSnap()">
        <p>
            <mat-form-field appearance="outline" class="snap-input">
                <mat-label>Titre</mat-label>
                <input formControlName="photoTakenTitle" matInput type="text" placeholder="Titre de votre photo">
            </mat-form-field>
        </p>
        <button [disabled]="photoTakenForm.invalid" mat-raised-button type="submit" color="primary">Poster</button>
    </form>
</mat-nav-list>