<mat-nav-list>
    <div *ngIf="selectedImage" mat-list-item id="preview-container">
        <img id="preview-image" [src]="" height="100%" width="100%">
    </div>
    <form class="file-form" [formGroup]="postFileForm" (ngSubmit)="onSubmitForm()">
        <p>
            <mat-form-field appearance="outline" class="file-input">
                <mat-label>Titre</mat-label>
                <input formControlName="title" matInput type="text" placeholder="Titre de votre photo">
            </mat-form-field>
        </p>
        <p>
            <input #fileSelector (change)="onImageSelected(fileSelector)" formControlName="file" type="file"
                accept="image/*" value="">
        </p>
        <button [disabled]="postFileForm.invalid" mat-raised-button type="submit" color="primary">Poster</button>
    </form>
</mat-nav-list>