<h3>Sign Up</h3>

<form class="example-form">

  <table class="example-full-width" cellspacing="0"><tr>
    <td><mat-form-field class="example-full-width" appearance="fill">
      <mat-label>First name</mat-label>
      <input matInput>
    </mat-form-field></td>
    <td><mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Name</mat-label>
      <input matInput>
    </mat-form-field></td>
  </tr></table>
  <p>
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Password</mat-label>
      <input matInput>
    </mat-form-field>
  </p>
  <p>
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Email</mat-label>
      <input matInput>
    </mat-form-field>
  </p>

  <p><button>Sign Up</button></p>
</form>
