<cdk-virtual-scroll-viewport appendOnly itemSize="50" class="page-viewport">
    <app-appbar></app-appbar>
    <ng-container *ngIf="user$ | async as user">
        <div class="user-stats-container">
            <div fxLayout="row" fxLayoutAlign="space-evenly center">
                <div class="user-infos-container" fxLayout="column" fxLayoutAlign="center center">
                    <div class="user-photo-container">
                        <img [src]="user.photoURL" [alt]="user.fullname" class="avatar">
                    </div>
                    <div class="username-container">{{ user.fullname }}</div>
                </div>

                <ng-container *ngIf="userPosts$ | async as posts">
                    <mat-card class="posts-count-container" fxLayout="column" fxLayoutAlign="center center">
                        <mat-card-header>
                            <mat-card-title>{{ posts.length }}</mat-card-title>
                            <mat-card-subtitle>Publications</mat-card-subtitle>
                        </mat-card-header>
                    </mat-card>
                </ng-container>

                <mat-card class="friends-count-container" fxLayout="column" fxLayoutAlign="center center">
                    <mat-card-header>
                        <mat-card-title>{{ friendsCount }}</mat-card-title>
                        <mat-card-subtitle>Amis</mat-card-subtitle>
                    </mat-card-header>
                </mat-card>
            </div>
        </div>

        <mat-card class="button-card">
            <button mat-raised-button [color]="followButtonColor" (click)="onFollow()">{{ followButtonLabel }}</button>
        </mat-card>

        <div class="post-container">
            <div fxLayout="row" fxLayoutAlign="space-evenly center">
                <ng-container *ngFor="let post of userPosts$|async">
                    <mat-card class="a-post-card">
                        <img class="post-photo" [src]="post.imageUrl" [alt]="post.title">
                    </mat-card>
                </ng-container>
            </div>
        </div>
    </ng-container>
</cdk-virtual-scroll-viewport>

<div class="utility-spacer"></div>

<app-navbar></app-navbar>