<mat-nav-list>
    <form class="snap-form" [formGroup]="snapForm" (ngSubmit)="onSaveSnap()">
        <p>
            <mat-form-field appearance="outline" class="snap-input">
                <mat-label>Titre</mat-label>
                <input formControlName="snapTitle" matInput type="text" placeholder="Titre de votre photo">
            </mat-form-field>
        </p>
        <p>
            <mat-form-field appearance="outline" class="snap-input">
                <mat-label>Description</mat-label>
                <textarea formControlName="snapDescription" matInput placeholder="Description..."></textarea>
            </mat-form-field>
        </p>
        <p>
            <mat-form-field appearance="outline" class="snap-input">
                <input formControlName="snapUrl" type="text" matInput value="{{imageUrl}}" readonly>
            </mat-form-field>
        </p>
        <button [disabled]="snapForm.invalid" mat-raised-button type="submit" color="primary">Partager</button>
    </form>
</mat-nav-list>