<h3>Log In</h3>

<form class="example-form">

  <p>
    <mat-form-field class="example-full-width" id="email" appearance="fill">
      <mat-label>Email</mat-label>
      <input matInput>
    </mat-form-field>
  </p>
  <p>
    <mat-form-field class="example-full-width" id="password" appearance="fill">
      <mat-label>Password</mat-label>
      <input matInput>
    </mat-form-field>
  </p>

  <p><button (click)="login()">Log In</button></p>


</form>

<p> <a routerLink="/sign-up"><button class="btn btn-success" > Sign Up </button></a></p>
